"""
Security
Replace SECRET_KEY with ex: a value from uuid.uuid4()
Replace APIKEY_SALT with bcrypt.gensalt()
"""

SECRET_KEY = "REPLACE_SECRET_KEY"
APIKEY_SALT = "REPLACE_API_KEY_SALT"
PASSWORD_SALT = "REPLACE_PASSWORD_SALT"
BCRYPT_LEVEL = 12
