import os
basedir = os.path.abspath(os.path.dirname(__file__))

"""
Database settings.
"""
# SQLiTE
SQLALCHEMY_DATABASE_URI = 'sqlite:///' + os.path.join(basedir, 'production.sqlite')
# MySQL
# SQLALCHEMY_DATABASE_URI = 'mysql://username:password@server/db'
# PostgreSQL
# SQLALCHEMY_DATABASE_URI = 'postgresql://username:password@server/db'

"""
Debugging
"""
DEBUG_MODE = False

"""
Site Settings
"""
CAN_REGISTER = True
